* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.temp-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 100dvh;
}

p {
    font-size: 1.5rem;
}