* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
a {
    color: #00b4d8ff;
    text-decoration: none;
}
a:hover {
    color: #caf0f8ff;
}
body {
    background: #caf0f8ff;
}
details {
    margin: 20px auto;
}
details li {
    padding: 5px;
}
details nav {
    padding: 0 20px;
}
details p {
    padding: 0 20px;
}
details ul {
    list-style-type: none;
    margin: 10px auto;
}
header {
    align-items: center;
    background: repeating-linear-gradient(1deg, #03045e, #0077b6ff);
    color: #00b4d8ff;
    display: flex;
    gap: 25px;
    padding: 20px;
}
header nav {
    display: flex;
    gap: 20px;
}
li {
    padding: 3px;
}
main {
    margin: 32px;
}
section {
    background:#03045eff;
    border-radius: 10px;
    color: #00b4d8ff;
    margin-top: 25px;
    padding: 20px;
}
section h2 {
    margin-bottom: 10px;
}
section h3 {
    margin-bottom: 5px;
}
section p {
    color: #caf0f8ff;
    margin: 10px auto;
}
summary {
    background: linear-gradient(120deg, #023e8aff);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
}
summary:hover {
    color: #caf0f8ff;
    cursor: pointer;
}
/*
color-palette
--deep-twilight: #03045eff
--french-blue: #023e8aff
--bright-teal-blue: #0077b6ff
--blue-green: #0096c7ff
--turquoise-surf: #00b4d8ff
--sky-aqua: #48cae4ff
--frosted-blue: #90e0efff
--frosted-blue-2: #ade8f4ff
--light-cyan: #caf0f8ff
*/